body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff;
}

.section {
    padding: 100px 0;
}

.section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.section p,
.section ul {
    font-size: 1.2rem;
    max-width: 800px;
    margin: auto;
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 10px;
}

#cv a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007bff;
}

#cv a:hover {
    color: #0056b3;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
