{% include base_path %}

<meta charset="utf-8">  

{% include seo.html %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ————————————————————————————————————————————
     Site icons & web-app manifest
     ———————————————————————————————————————————— -->

<!-- 16×16 & 32×32 PNG favicons -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ base_path }}/images/favicon-16x16.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ base_path }}/images/favicon-32x32.png"
/>

<!-- PNG favicons (cache-busted) -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16x16.png?v=M44lzPylqQ">

<!-- Apple touch icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">

<!-- Web-app manifest -->
<link rel="manifest" href="{{ base_path }}/site.webmanifest?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff" />

<!-- Fallback ICO -->
<link rel="shortcut icon" href="{{ base_path }}/favicon.ico" type="image/x-icon" />



<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Add MathJax Script -->
<script type="text/javascript" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        options: {
            ignoreHtmlClass: 'no-mathjax',
            processHtmlClass: 'mathjax'
        }
    };
</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D8TZQQP6RS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D8TZQQP6RS');
</script>


<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
