/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(245, 245, 245, 0.6)); /* Horizontal gradient */
  position: fixed;
  background: white;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  padding-left:2em;
   
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: inline-block; /* Ensure they are inline  block;*/
  background: transparent; /* Remove white background */
  list-style-type: none;
  /*white-space: nowrap;*/
  border: none; /* Remove borders if any */
  box-shadow: none; /* Remove shadow effects if any */
   
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
