---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon"          href="/favicon.ico"                       sizes="any">
    <link rel="icon"          type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon"          type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"            sizes="180x180">
    <link rel="manifest"      href="/site.webmanifest">
  </head>

  <body class="site-wrapper">

    <div class="site-container">
      {% include browser-upgrade.html %}
      {% include masthead.html %}

      <main class="page__content">
        {{ content }}
      </main>

      <div class="page__footer{% unless page.footer_fixed == false %} fixed-footer{% endunless %}">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include scripts.html %}
    
  </body>
</html>

