---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body class="site-wrapper">

    <div class="site-container">
      {% include browser-upgrade.html %}
      {% include masthead.html %}

      <main class="page__content">
        {{ content }}
      </main>

      <div class="page__footer{% unless page.footer_fixed == false %} fixed-footer{% endunless %}">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include scripts.html %}
    
  </body>
</html>

